.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Background color to match the footer */
    z-index: 100;
  }
  
  /* .footer-nav-div {
    padding: 15px 0; /* Adjust padding as necessary */
  } */
  
  .copyright-div {
    padding: 10px 0;
    background-color: #e9ecef; /* Background color to distinguish the copyright section */
  }
  
  .container {
    max-width: 1140px;
  }
  
  ul.social-nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
  }
  
  ul.social-nav li {
    margin-left: 15px;
  }
  
  ul.social-nav a {
    color: #aecceb;
    text-decoration: none;
  }
  
  ul.social-nav a:hover {
    color: #007bff;
  }
  